<footer class="footer">
  <div class="footer__container">
    <a href="{{ '/' | url }}" class="footer__logo">
      <img 
        src="https://portx.io/wp-content/uploads/2023/03/portx-logo-green.png" 
        alt="PortX Logo"
        width="80"
        height="24"
      >
    </a>
    
    <nav>
      <ul class="footer__links">
        <li>
          <a href="https://portx.io" class="footer__link" target="_blank" rel="noopener">
            PortX Website
          </a>
        </li>
        <li>
          <a href="mailto:{{ site.contact }}" class="footer__link">
            Contact
          </a>
        </li>
      </ul>
    </nav>
    
    <p>&copy; 2026 PortX. All rights reserved.</p>
  </div>
</footer>
